body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #111111;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

#log_results{
  color: lawngreen;
  overflow-y:auto;
  height: 300px;
  scrollbar-width: none;
}

#container {
  min-height:100%;
  position:relative;
}
#header {
  background: #0a0a0a;
  padding:5px;
  text-align: center;
}
#header_name{
  color: #af6204;
}
#body {
  padding:10px;
  margin-left: 20px;
  padding-bottom:300px;   /* Height of the footer */
}
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:300px;   /* Height of the footer */
  padding-left: 20px;
  padding-bottom: 20px;
}


a {
  color: #00B7FF;
}

h1, h3 {
  color: brown;
}

button {
  border: none;
  background-color: darkred;
  color: #ef741b;
  padding: 2em;
  margin-right: 10px;
  transition: background-color 2s, color 3s;
}

select {
  border: none;
  background-color: darkred;
  color: #ef741b;
  padding: 2em;
  margin-right: 10px;
  transition: background-color 2s, color 3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text] {
  padding: 2em;
  width: 20%;
  margin-right: 10px;
  border: none;
  background-color: darkred;
  color: #ef741b;
}

input[type=text]:focus {
  border: 0px darkred;
}

button:hover{
  background-color: #ef741b;
  color: darkred;
}

.links{
  background-color: royalblue;
  color: #1a3557;
}

.device{
  background-color: limegreen;
  color: #686f36;
}

code {
  display: block;
  white-space: pre-wrap
}

.keyboard_layout{
  color: #e3820b;
  width: 3440px;
}

.leader_sequences{
  color: #e3820b;
  font-weight: bold;
}

p{
  color: limegreen;
}

.wikitable {
  color: #e3820b;
  font-size: 28px;
  text-align:center;
  border-collapse: collapse;
}

.wikitable td{
  border: 1px solid green;
  width: 70px;
}

#results{
  margin-left: 100px;
  padding: 50px;
  color: lawngreen;
}

.threecolumn{
  width: 100%;
  float: left;
  align-items: center;
  justify-content: center;

}
.threecolumnchild{
  width: 33%;
  float: left;
  text-align: center;
}

.goldenh{
  color: #e3820b;
}