body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #111111;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

#log_results{
  color: lawngreen;
  overflow-y:auto;
  height: 300px;
  scrollbar-width: none;
}

#container {
  min-height:100%;
  position:relative;
}
#header {
  background: #0a0a0a;
  padding:5px;
  text-align: center;
}
#body {
  padding:10px;
  margin-left: 20px;
  padding-bottom:300px;   /* Height of the footer */
}
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:300px;   /* Height of the footer */
  padding-left: 20px;
  padding-bottom: 20px;
}


a {
  color: #00B7FF;
}

h1, h3 {
  color: brown;
}

button {
  border: none;
  background-color: darkred;
  color: black;
  padding: 2em;
  margin-right: 10px;
  transition: background-color 2s, color 3s;
}

button:hover{
  background-color: black;
  color: #bbbbbb;
}

.links{
  background-color: royalblue;
}

.device{
  background-color: limegreen;
}

